AIRFLOW_UID=1000
FERNET_KEY=your_fernet_key_here

DATABRICKS_HOST=https://your-databricks-workspace.cloud.databricks.com
DATABRICKS_TOKEN=your_databricks_token_here

DATABRICKS_BRONZE_JOB_ID=your_bronze_job_id
DATABRICKS_SILVER_METER_READINGS_JOB_ID=your_silver_meter_readings_job_id
DATABRICKS_SILVER_CORE_SOURCES_JOB_ID=your_silver_core_sources_job_id

SMARTGRIDX_ENVIRONMENT=dev
SMARTGRIDX_CATALOG=smartgridx_dev